<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/contacts.css')}}">
    <title>Contactos | Joint</title>
</head>
<body>
    <div class="total-container">
        <header>
            <div class="title-container">
                <h1 id="title">Joint</h1>
            </div>
            <a href="/search"><img src="{{url_for('static', filename='/img/add.svg')}}" alt="Add" draggable="false"></a>
        </header>
        <section class="users-container">
            {% for contact in contacts %}
            <div class="user-container">
                <a href="/profile/user/{{contact.id}}" class="user">
                    <div class="left-user">
                        <div class="picture"><img src="{{url_for('static', filename=contact.profile_picture)}}" id="picture" alt="Picture" draggable="false"></div>
                        <div class="information">
                            <span>{{contact.name}}</span>
                            <div id="position">{{contact.position}}</div>
                            <div id="company">{{contact.company}}</div>
                        </div>
                    </div>
                </a>
                <div class="add-user">
                    <div><img src="{{url_for('static', filename='/img/more_black.svg')}}" alt="more_black" draggable="false"></div>
                    <input type="image" src="{{url_for('static', filename='/img/send.svg')}}" alt="send" draggable="false">
                </div>
            </div>
            {% endfor %}
        </section>
        <section class="bottom-bar">
            <div>
                <a href="/home"><img src="{{url_for('static', filename='/img/home.svg')}}" alt="home" draggable="false"></a>
            </div>
            <div>
                <a href="/search"><img src="{{url_for('static', filename='/img/search.svg')}}" alt="search" draggable="false"></a>
            </div>
            <div>
                <a href="/contacts"><img src="{{url_for('static', filename='/img/notebook.svg')}}" alt="notebook" draggable="false"></a>
            </div>
            <div>
                <a href="/profile"><img src="{{url_for('static', filename='/img/profile.svg')}}" alt="profile" draggable="false"></a>
            </div>
        </section>
    </div>
</body>
</html>