.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
 }
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

a{
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.total-container{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 450px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 70px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: auto;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    height: 76px;
    gap: 220px;
    background-color: black;
    color: white;
}
.title-container{
    display: flex;
    align-items: center;
    height: 20px;
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 17px;
}
.profile-span{
    margin-top: 5px;
    font-size: 25px;
}
.profile-subspan-container{
    margin-top: 4px;
}
.profile-subspan{
    margin-top: 7px;
    font-size: 16px;
    text-wrap: wrap;
}
.edit-profile{
    display: flex;
    margin-top: 5px;
}
#edit-btn{
    border: 1px solid black;
    padding: 8px;
    border-radius: 12px;
}
#picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.mid-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 15px;
}
.contact-description-container{
    display: flex;
    flex-direction: column;
}
.mid-titles{
    height: 0;
}
h2{
    height: 0;
}
.contact-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.contact-info-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
.contact-info{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}
.aboutme-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 350px;
    text-wrap: balance;
    font-size: 18px;
}
.bottom-bar{
    display: flex;
    margin-top: auto;
    padding: 20px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: black;
}
.bar-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}